*, html, body {
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
header{
	background: #8bc34a;
	display: block;
	padding:10px 0px;
}
article {
    width: 70%;
    background-color: #BEEB9F;
    float: left;
    padding: 2em;
}

aside {
    width: 28%;
    background-color: #79BD8F;
    padding: 2em;
    float: left;
    margin-left: 2%;
}
footer{
    position: relative;
    margin-top: -50px;
    height: 40px; 
    padding:5px 0px;
    clear: both;
    background: #e65100;
    text-align: center;
    color: #fff;
}

li {
    margin-bottom: 1.2em;
}

a {
    text-decoration: none;
    color: white;
}

