*{
	background-color: #757575;
}

nav{
	text-align: center;
    background-color: beige;
    border: 1px solid gray;
    margin-top: 10px;
}
nav li {
    display: inline-block;
    padding-right: 16px;
}
header{
	text-align: center;
}
section article:nth-child(1){
	display: inline-block;
	border: 1px solid gray;
    padding: 12px;
	width: 45%;
}
section article:nth-child(2){
	border: 1px solid gray;
	display: inline-block;
    padding: 12px;
    width: 45%;
}
footer{
	text-align: center;
	background: #d50000;
}
        