header{
	display:block;
    background:#76ff03;
    padding:10px 0px;
    text-align: center;
}

 article{
 	font-family: Calibri light;
    margin: 1px 10px;
    font-family: Century Gothic;
    text-align: center;
    margin: 15px 3px;
    color: #546e7a ;
}
            